{% extends "includes/header.html" %}
{% load static %}
{% block title %} Courses List {% endblock title %}
{% block content %}
<!--app-content open-->
<div class="page">
    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">
            <!-- CONTAINER -->
            <div class="main-container container-fluid">
                <!-- PAGE-HEADER -->
                <div class="page-header">
                    <h1 class="page-title">Short Term Course View</h1>
                    <a href="{% url "add-course" %}" class="btn btn-danger btn-pill">Add<i class="fa fa-plus"></i></a>
                </div>
                <!-- PAGE-HEADER END -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h3 class="card-title">Short Term Course Table</h3>
                                <input type="text" class="border" id="search-input" placeholder="Search Products">
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        {% include 'alerts.html' %}
                                        <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Sl No</th>
                                                    <th>Image</th>
                                                    <th>Title</th>
                                                    <th>Subtitle</th>
                                                    <th>Description</th>
                                                    <th>Details</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="search-results-table">
                                                {% for course in courses  %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>
                                                        <img class="d-block img-fluid br-5 img-td"
                                                            src="{{course.image.url}}" alt="">
                                                    <td>{{course.title}}</td>
                                                    <td>{{course.subtitle}}</td>
                                                    <td>
                                                        <a class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#description">
                                                            <i class="side-menu__icon fe fe-eye text-white"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-dark" data-bs-toggle="modal"
                                                            data-bs-target="#crsdetail">
                                                            <i class="side-menu__icon fe fe-list text-white"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Description Modal -->
                                                    <div class="modal  fade" id="description" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                                                            <div class="modal-content ">
                                                                <div class="modal-body">
                                                                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                    <h4 class="text-primary">Description</h4>
                                                                    <p class="mg-b-20 mg-x-20">{{course.description}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <td>
                                                        {% if course.is_available %}
                                                        <a href="{% url "update-status" course.id %}"><span class="btn btn-success">Active</span></a>
                                                        {% else %}
                                                        <a href="{% url "update-status" course.id %}"> <span class="btn btn-danger">Inactive</span></a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info" href="{% url "edit-course" course.id %}">
                                                            <i class="side-menu__icon fe fe-edit"></i>
                                                        </a>
                                                        <a class="btn btn-danger" data-bs-toggle="modal"
                                                            data-bs-target="#modaldemo5">
                                                            <i class="side-menu__icon fe fe-trash text-white"></i>
                                                        </a>
                                                    </td>

                                                    <!-- Delete Confirmation Modal -->
                                                    <div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
                                                        <form method="delete" action="{% url "delete-course" course.id %}" class="">
                                                            <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                                                                <div class="modal-content ">
                                                                    <div class="modal-body">
                                                                        <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                        <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                                                                        <h4 class="text-danger">Are You Sure Do You Want To Delete {{course.title}}?</h4>
                                                                        <p class="mg-b-20 mg-x-20">Course Will be Deleted Permanently</p>
                                                                    </div>
                                                                    <div class="modal-footer justify-content-center">
                                                                        <button type="submit" class="btn btn-success">Yes</button>
                                                                        <button type="reset" aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-body">
                                        {% if courses.has_other_pages %}
                                            <ul class="pagination">
                                                {% if courses.has_previous %}
                                                    <li class="page-item page-prev">
                                                        <a class="page-link" href="?page={{courses.previous_page_number}}" tabindex="-1">Prev</a>
                                                    </li>
                                                {% endif %}

                                                {% for i in courses.paginator.page_range %}
                                                {% if courses.number == i %}
                                                    <li class="page-item active"><a class="page-link" href="">{{i}}</a></li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                                
                                                {% if courses.has_next %}
                                                    <li class="page-item page-next">
                                                        <a class="page-link" href="?page={{courses.next_page_number}}">Next</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                        <!-- pagination-wrapper -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTAINER END -->
        </div>
    </div>
    <!--app-content close-->
    
    
    <!-- Course Detail Modal -->
    <div class="modal  fade" id="crsdetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered text-center" role="document">
            <div class="modal-content ">
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                            </tr>
                            <tr>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer justify-content-center">
                    <button aria-label="Close" class="btn btn-danger pd-x-25" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Add a JavaScript function to send AJAX requests on input change
    $('#search-input').on('input', function() {
        var keyword = $(this).val();
        $.ajax({
            url: '{% url "search-course" %}',
            type: 'GET',
            data: { 'keyword': keyword },
            success: function(data) {
                $('#search-results-table').html(data); // Update the table body content
            }
        });
    });
</script>

{% endblock content %}
